<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Dashboard - Brand</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="/static/fonts/fontawesome5-overrides.min.css"
    />
  </head>

  <body id="page-top">
    <div id="wrapper">
      <nav
        class="
          navbar navbar-dark
          align-items-start
          sidebar sidebar-dark
          accordion
          bg-gradient-primary
          p-0
        "
      >
        <div class="container-fluid d-flex flex-column p-0">
          <a
            class="
              navbar-brand
              d-flex
              justify-content-center
              align-items-center
              sidebar-brand
              m-0
            "
            href="#"
          >
            <div class="sidebar-brand-icon rotate-n-15">
              <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3"><span>FAKENEWSBR</span></div>
          </a>
          <hr class="sidebar-divider my-0" />
          <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item">
              <a class="nav-link active" href="index.html"
                ><i class="fas fa-tachometer-alt"></i><span>Detector</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="algoritmos.html"
                ><i class="fas fa-user"></i><span>Algoritmos</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Ranking.html"
                ><i class="fas fa-table"></i><span>Ranking</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="DataBase.html"
                ><i class="far fa-user-circle"></i><span>DataBase</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="register.html"></a>
            </li>
          </ul>
          <div class="text-center d-none d-md-inline">
            <button
              class="btn rounded-circle border-0"
              id="sidebarToggle"
              type="button"
            ></button>
          </div>
        </div>
      </nav>
      <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
          <nav
            class="
              navbar navbar-light navbar-expand
              bg-white
              shadow
              mb-4
              topbar
              static-top
            "
          >
            <div class="container-fluid">
              <button
                class="btn btn-link d-md-none rounded-circle me-3"
                id="sidebarToggleTop"
                type="button"
              >
                <i class="fas fa-bars"></i>
              </button>
              <h1>MBA MECAI-ICMC-USP</h1>
              <form
                class="
                  d-none d-sm-inline-block
                  me-auto
                  ms-md-3
                  my-2 my-md-0
                  mw-100
                  navbar-search
                "
              >
                <div class="input-group"></div>
              </form>
              <a
                href="https://sites.google.com/view/detector-de-fake-news/p%C3%A1gina-inicial"
                >Sobre</a
              >
            </div>
          </nav>
          <div class="container-fluid">
            <div
              class="d-sm-flex justify-content-between align-items-center mb-4"
            >
              <h3 class="text-dark mb-0">Detector de FAKE NEWS Versão 1.0</h3>
            </div>
            <div class="row">
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-primary py-2">
                  <div class="card-body">
                    <div class="row align-items-center no-gutters">
                      <div class="col me-2">
                        <div
                          class="
                            text-uppercase text-primary
                            fw-bold
                            text-xs
                            mb-1
                          "
                        >
                          <span>Número de Fake News na BASE</span>
                        </div>
                        <div class="text-dark fw-bold h5 mb-0">
                          <span>{{database_size}}</span>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-7 col-xl-8">
                <div class="card shadow mb-4">
                  <div
                    class="
                      card-header
                      d-flex
                      justify-content-between
                      align-items-center
                    "
                  >
                    <h6 class="text-primary fw-bold m-0">
                      Texto para Verificação
                    </h6>
                    <div class="dropdown no-arrow">
                      <button
                        class="btn btn-link btn-sm dropdown-toggle"
                        aria-expanded="false"
                        data-bs-toggle="dropdown"
                        type="button"
                      >
                        <i class="fas fa-ellipsis-v text-gray-400"></i>
                      </button>
                      <div
                        class="
                          dropdown-menu
                          shadow
                          dropdown-menu-end
                          animated--fade-in
                        "
                      >
                        <p class="text-center dropdown-header">
                          dropdown header:
                        </p>
                        <a class="dropdown-item" href="#">&nbsp;Action</a
                        ><a class="dropdown-item" href="#"
                          >&nbsp;Another action</a
                        >
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"
                          >&nbsp;Something else here</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <textarea style="width: 550px; height: 250px">
{{ news }}</textarea
                    >
                    <form action="/news">
                      <button class="btn btn-primary" type="submit">
                        Gerar Aleatório
                      </button>
                    </form>
                  </div>
                </div>
                <form action="/verificar" method="post">
                  <div class="row">
                    <div class="col">
                      <div class="card">
                        <div class="card-header">
                          <h5 class="mb-0">Pré-Processador</h5>
                        </div>
                        <div class="card-body">
                          <select class="form-select" name="optPre">
                            <option value="0" selected="">Default</option>
                            <option value="1">Tokenizador com Espaço</option>
                            <option value="2">Tokenizador com StopWords</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <div class="card-header">
                          <h5 class="mb-0">Features</h5>
                        </div>
                        <div class="card-body">
                          <select class="form-select" name="optFeature">
                            <option value="1">Bag of Words</option>
                            <option value="2">TF-IDF</option>
                            <option value="3">WordNet</option>
                            <option value="4">Glove</option>
                            <option value="0" selected="">Default</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <div class="card-header">
                          <h5 class="mb-0">Classificador</h5>
                        </div>
                        <div class="card-body">
                          <select class="form-select" name="optClassifier">
                            <option value="0" selected="">Default</option>
                            <option value="1">Luiz</option>
                            <option value="2">Renan</option>
                            <option value="3">Estatístico</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col text-center align-self-center">
                      <button class="btn btn-primary btn-lg" type="submit">
                        Verificar
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-lg-5 col-xl-4">
                <div class="card shadow mb-4">
                  <div
                    class="
                      card-header
                      d-flex
                      justify-content-between
                      align-items-center
                    "
                  >
                    <h6 class="text-primary fw-bold m-0">Resultado</h6>
                    <div class="dropdown no-arrow">
                      <button
                        class="btn btn-link btn-sm dropdown-toggle"
                        aria-expanded="false"
                        data-bs-toggle="dropdown"
                        type="button"
                      >
                        <i class="fas fa-ellipsis-v text-gray-400"></i>
                      </button>
                      <div
                        class="
                          dropdown-menu
                          shadow
                          dropdown-menu-end
                          animated--fade-in
                        "
                      >
                        <p class="text-center dropdown-header">
                          dropdown header:
                        </p>
                        <a class="dropdown-item" href="#">&nbsp;Action</a
                        ><a class="dropdown-item" href="#"
                          >&nbsp;Another action</a
                        >
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"
                          >&nbsp;Something else here</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="chart-area">
                      <canvas
                        data-bss-chart='{"type":"doughnut","data":{"labels":["Fake News","Notícia Verdadeira"],"datasets":[{"label":"","backgroundColor":["#e0655d","#1cc88a"],"borderColor":["#ffffff","#ffffff"],"data":["{{vl_false}}","{{vl_true}}"]}]},"options":{"maintainAspectRatio":false,"legend":{"display":true,"labels":{"fontStyle":"normal","fontSize":14},"reverse":false,"position":"bottom"},"title":{"fontStyle":"normal","display":true,"text":"Probabilidades","fontSize":20,"fontColor":"#26A"}}}'
                      ></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 mb-4">
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="text-primary fw-bold m-0">Estatísticas</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="bg-white sticky-footer">
          <div class="container my-auto">
            <div class="text-center my-auto copyright">
              <span>Copyright © FakeNewsBR&nbsp;2021</span>
            </div>
          </div>
        </footer>
      </div>
      <a class="border rounded d-inline scroll-to-top" href="#page-top"
        ><i class="fas fa-angle-up"></i
      ></a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="/static/js/bs-init-1.js"></script>
    <script src="/static/js/bs-init.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/theme.js"></script>
  </body>
</html>
